.main-section {
    background-color: var(--background-color);
    height: 800px;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: var(--notmain-color);
    }
    &__main-container {
        max-width: 330px;
        margin: 0 auto;
    }
    &__hamburger-button, &__search-button {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    &__main-text {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
    }
    &__select-project {
        font-size: 14px;
        text-align: left;
        color: #AAAAAA;
        margin: 20px 0;
        padding-left: 10px;
    }
    &__block-project {
        @include block;
    }
    &__project {
        display: grid;
        grid-template-columns: auto minmax(100px, 1fr);
        align-items: center;
    }
    &__project-name {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
    }
    &__image-container {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
}